/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# want to keep the configuration of 2 files of Routing in vendor
vendor/*
!vendor/laravel/
vendor/laravel/*
!vendor/laravel/framework/
vendor/laravel/framework/*
!vendor/laravel/framework/src/
vendor/laravel/framework/src/*
!vendor/laravel/framework/src/Illuminate/
vendor/laravel/framework/src/Illuminate/*
!vendor/laravel/framework/src/Illuminate/Routing/
vendor/laravel/framework/src/Illuminate/Routing/*
!vendor/laravel/framework/src/Illuminate/Routing/RouteCollection.php
!vendor/laravel/framework/src/Illuminate/Routing/RouteCollectionInterface.php